![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/89223402/157379234-9fe32df4-8000-4f0b-88aa-4c279c25001e.gif)

<table>
    <tr>
        <td><a href="https://dtsivkovski.github.io/dtsivkovski-cspt3/">Main</a></td>
        <td><a href="https://dtsivkovski.github.io/dtsivkovski-cspt3/dataProject">Data Structures Project</a></td>
        <td><a href="https://dtsivkovski.github.io/dtsivkovski-cspt3/testPrep">Test Prep / Notes</a></td>
        <td><a href="https://dtsivkovski.github.io/dtsivkovski-cspt3/createtask">Create Task</a></td>
    </tr>
</table>
<hr>
